node-server/node_modules/
node-server/build
node-server/npm-debug.log
node-server/.nyc
node-server/.env
node-server/.DS_Store
.vscode

dotnet-client/nupkg/
dotnet-client/[Dd]ebug/
dotnet-client/[Dd]ebugPublic/
dotnet-client/[Rr]elease/
dotnet-client/[Rr]eleases/
dotnet-client/x64/
dotnet-client/x86/
dotnet-client/build/
dotnet-client/bld/
dotnet-client/[Bb]in/
dotnet-client/[Oo]bj/
dotnet-client/[Oo]ut/
dotnet-client/msbuild.log
dotnet-client/msbuild.err
dotnet-client/msbuild.wrn